<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movie</title>
</head>
<body>

    <a href="/movie/new">Add new movie</a>
    <a href="/movie/edit">edit movie</a>
    <a href="/movie/delete">Delete movie</a>
</body>
</html>
