<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add movie</title>
</head>
<body>

  <h2>Add New movie</h2>

  <form action="/movie" method="post">
    <input type="text" name="tittle" placeholder="movie name" required><br><br>
    <input type="text" name="genre" placeholder="Genre " required><br><br>
    <input type="number" name="releaseDate" placeholder="relase Date" required><br><br>
    <input type="text" name="director" placeholder="director" required><br><br>
    <input type="number" name="rating" placeholder="rate"><br><br>
    <input tyep="review" name="review" placeholder="review"><br>

    
    <button type="submit">Add movie</button>

  </form>

</body>
</html>

